@-webkit-keyframes upPoints {
  0% {
    opacity: 0;
    top: 0; }
  50% {
    opacity: 1;
    top: -60px; }
  100% {
    opacity: 0;
    top: -80px; } }
@-moz-keyframes upPoints {
  0% {
    opacity: 0;
    top: 0; }
  50% {
    opacity: 1;
    top: -60px; }
  100% {
    opacity: 0;
    top: -80px; } }
@-o-keyframes upPoints {
  0% {
    opacity: 0;
    top: 0; }
  50% {
    opacity: 1;
    top: -60px; }
  100% {
    opacity: 0;
    top: -80px; } }
@keyframes upPoints {
  0% {
    opacity: 0;
    top: 0; }
  50% {
    opacity: 1;
    top: -60px; }
  100% {
    opacity: 0;
    top: -80px; } }
@font-face {
  font-family: "slabFont";
  src: url(../fonts/AlfaSlabOne-Regular.ttf); }
html,
body {
  width: 100%;
  height: 100%;
  max-width: 360px;
  max-height: 568px;
  overflow: hidden;
  background: #8EC7D2;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

.menu,
.intro {
  display: none;
  position: fixed;
  padding: 80px 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 12; }
  .menu.on,
  .intro.on {
    display: block; }
  .menu h4,
  .intro h4 {
    font-family: "slabFont";
    font-size: 42px; }
  .menu a,
  .intro a {
    color: #fff;
    background: #8A171D;
    padding: 10px 20px;
    display: block;
    border: 0;
    outline: none;
    width: 50%;
    margin: 0 auto;
    text-transform: uppercase; }

.col-row-height {
  display: block;
  height: 33.33vh;
  line-height: 33.33vh;
  text-align: center; }

.app {
  height: 100%; }
  .app .loader {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 6;
    background: #283681; }
    .app .loader .filler {
      position: absolute;
      bottom: 0;
      width: 0%;
      height: 5px;
      left: 0;
      background: #8A171D; }
  .app .action {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 4; }
    .app .action h4 {
      text-transform: uppercase;
      letter-spacing: 4px;
      text-align: center;
      color: #fff;
      font-size: 20px; }
  .app .scorecard {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: "slabFont";
    letter-spacing: 4px;
    font-size: 36px;
    background: #283681;
    padding: 5px; }
    .app .scorecard .lives {
      margin-top: -15px;
      position: relative;
      z-index: 9; }
      .app .scorecard .lives i {
        color: #e74c3c; }
        .app .scorecard .lives i.lost {
          color: #ecf0f1; }
    .app .scorecard .inner {
      border: 5px solid #8A171D;
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      padding-top: 18px; }
  .app .row {
    height: 100%; }
    .app .row .game {
      margin-top: 33.33vh;
      height: 100%;
      width: 100%;
      text-align: center;
      position: relative; }
      .app .row .game .glove {
        position: fixed;
        width: 100px;
        height: 100px;
        z-index: 5;
        background-size: contain;
        transition: all 0.1s ease;
        -webkit-transition: all 0.1s ease; }
        .app .row .game .glove.left {
          right: calc(0vw - 100px);
          top: calc(70vh - 170px);
          background-image: url(../img/glove_left.png); }
          .app .row .game .glove.left.active {
            right: 50vw; }
          .app .row .game .glove.left:before {
            width: 100vw;
            height: 30px;
            left: 97px;
            background: #BB5F4E;
            top: calc(50% - 14px);
            content: '';
            z-index: 9;
            position: absolute; }
        .app .row .game .glove.right {
          left: calc(0vw - 100px);
          top: calc(70vh - 170px);
          background-image: url(../img/glove_right.png); }
          .app .row .game .glove.right.active {
            left: 50vw; }
          .app .row .game .glove.right:before {
            width: 100vw;
            height: 30px;
            right: 97px;
            background: #BB5F4E;
            top: calc(50% - 14px);
            content: '';
            z-index: 9;
            position: absolute; }
        .app .row .game .glove.up {
          left: calc(50vw - 45px);
          bottom: calc(0vh - 170px);
          background-image: url(../img/glove_up.png); }
          .app .row .game .glove.up.active {
            bottom: calc(70vh - 170px); }
          .app .row .game .glove.up:before {
            width: 30px;
            height: 100vh;
            left: 35px;
            background: #BB5F4E;
            top: calc(50% + 48px);
            content: '';
            z-index: 9;
            position: absolute; }
      .app .row .game .whackWrapper {
        display: inline-block;
        float: left;
        margin-right: 150px; }
        .app .row .game .whackWrapper.uppercut .trump {
          background-image: url(../img/head_uppercut.png); }
        .app .row .game .whackWrapper.righthook .trump {
          background-image: url(../img/head_righthook.png); }
        .app .row .game .whackWrapper.lefthook .trump {
          background-image: url(../img/head_lefthook.png); }
      .app .row .game .hole {
        width: 142px;
        display: inline-block;
        height: 40px;
        border-radius: 100%;
        background: #89BCC8; }
        .app .row .game .hole .clip {
          background: url(../img/clip.png);
          background-repeat: no-repeat;
          width: 142px;
          height: 300px;
          z-index: 2;
          margin-top: 20px;
          position: relative; }
          .app .row .game .hole .clip:after {
            position: absolute;
            top: 20px;
            width: 100%;
            height: 100%;
            background: #8EC7D2;
            left: 0;
            content: ''; }
      .app .row .game .trump {
        margin-top: 20px;
        text-align: center;
        width: 135px;
        height: 162px;
        display: block;
        margin-left: -5px;
        position: relative;
        z-index: 1;
        transition: top 0.4s ease;
        transition-delay: 0.6s;
        top: 0;
        left: 5px;
        background-image: url(../img/head_default.png);
        background-size: 135px 162px; }
        .app .row .game .trump h4 {
          font-weight: bold;
          color: #e74c3c;
          font-size: 30px;
          position: relative;
          top: 0;
          z-index: 8;
          display: none; }
        .app .row .game .trump:before {
          content: '';
          width: 36px;
          left: 53px;
          height: 120px;
          background: #E98563;
          position: absolute;
          bottom: -95px;
          z-index: 0;
          border-radius: 30px; }
        .app .row .game .trump .wig {
          width: 118px;
          height: 51px;
          margin-left: 11px;
          top: -50px;
          transition: top 0.2s ease;
          position: relative;
          z-index: 7; }
        .app .row .game .trump.active {
          top: 300px; }
          .app .row .game .trump.active h4 {
            display: block;
            -webkit-animation: upPoints 0.4s forwards;
            /* Safari 4+ */
            -moz-animation: upPoints 0.4s forwards;
            /* Fx 5+ */
            -o-animation: upPoints 0.4s forwards;
            /* Opera 12+ */
            animation: upPoints 0.4s forwards; }
          .app .row .game .trump.active .wig {
            top: -80px;
            background-image: url(../img/wig.png); }

/*# sourceMappingURL=app.css.map */
